body{
  background-color: rgb(30, 130, 150);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}
h2{
  text-decoration: underline;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#title{
  color: rgb(30, 130, 150);
  background-color: black;
  text-align: center;
  padding: 10px;
  outline: 5px solid black;
  outline-offset: 10px;
  border-radius: 20px;
}
.centered{
  text-align: center;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: square;
}